services:
    #    redis:
    #        image: redis:7
    elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:8.11.1
        environment:
            - discovery.type=single-node
    postgres:
        image: postgres:18-alpine
        environment:
            POSTGRES_USER: debop
            POSTGRES_PASSWORD: debop
            POSTGRES_DB: debop
        healthcheck:
            test: [ "CMD-SHELL", "pg_isready -U debop" ]
            interval: 10s
            timeout: 5s
            retries: 5
